<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myShoppingCartLabel" jhiTranslate="armoryApp.shoppingCart.home.createOrEditLabel">Create or edit a Shopping Cart</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!shoppingCart.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="shoppingCart.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.shoppingCart.shoppingCartId" for="field_shoppingCartId">Shopping Cart Id</label>
            <input type="number" class="form-control" name="shoppingCartId" id="field_shoppingCartId"
                [(ngModel)]="shoppingCart.shoppingCartId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.shoppingCart.cartStatus" for="field_cartStatus">Cart Status</label>
            <input type="text" class="form-control" name="cartStatus" id="field_cartStatus"
                [(ngModel)]="shoppingCart.cartStatus"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.shoppingCart.saveForLater" for="field_saveForLater">Save For Later</label>
            <input type="text" class="form-control" name="saveForLater" id="field_saveForLater"
                [(ngModel)]="shoppingCart.saveForLater"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.shoppingCart.cart" for="field_cart">Cart</label>
            <select class="form-control" id="field_cart" name="cart" [(ngModel)]="shoppingCart.cartId">
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of carts; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.shoppingCart.cartItem" for="field_cartItem">Cart Item</label>
            <select class="form-control" id="field_cartItem" name="cartItem" [(ngModel)]="shoppingCart.cartItemId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cartItemOption.id" *ngFor="let cartItemOption of cartitems; trackBy: trackCartItemById">{{cartItemOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
